@use "./variables" as *;

.seccionFooter {
  display: flex;
  flex-wrap: wrap;
}

.contacto {
  color: $color-blanco;
  background-color: $color-principal;
  text-align: center;

  .contactoContenedor {
    display: flex;
    align-items: center;
    justify-content: center;

    .contactoLogo {
      width: 50px;
    }

    .contactoInfo {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.seccionFooter .mapa {
  width: 100%;
}

@media (min-width: 992px) {
  .seccionFooter {
    flex-wrap: nowrap;
  }

  .seccionFooter .contacto {
    width: 33.3333%;
  }

  .seccionFooter .mapa {
    width: 66.6666%;
  }
}
